* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.container {
    width: 1240px;
    height: 50px;
    border: 2px solid black;
    margin: 0 auto;
}

.header {
    padding: 16px 0;
}

.main {
    min-height: 700px;
}

.section {
    height: 500px;
}

.section .container {
    height: 100%;
}

.product {
    min-height: 500px;
    margin-top: 30px;
}

.product .container {
    height: 100%;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
    padding: 20px 0;
}

.card {
    width: 350px;
    height: 400px;
    border: 2px solid black;
}

/* 1024px */
/* 992px */
/* 728px */
/* 425px */
/* 375px */
/* 320px */


@media (max-width: 1024px) {
    .header {
        max-width: 1024px;
        width: 100%;
    }
    .header .container {
        max-width: 960px;
        width: 100%;
        border: 2px solid red;
    }
    .section {
        max-width: 1024px;
        width: 100%;
    }
    .section .container {
        max-width: 960px;
        width: 100%;
        border: 2px solid green;
    }
    .product {
        max-width: 1024px;
        width: 100%;
    }
    .product .container {
        max-width: 960px;
        width: 100%;
        border: 2px solid darkblue;
    }
    
}

@media (max-width: 992px) {
    .header {
        max-width: 992px;
        width: 100%;
    }
    .header .container {
        max-width: 960px;
        width: 100%;
        border: 2px solid red;
    }
    .section {
        max-width: 992px;
        width: 100%;
    }
    .section .container {
        max-width: 960px;
        width: 100%;
        border: 2px solid green;
    }
    .product {
        max-width: 992px;
        width: 100%;
    }
    .product .container {
        max-width: 960px;
        width: 100%;
        border: 2px solid darkblue;
    }

}
@media (max-width: 768px) {
    .header {
        max-width: 768px;
        width: 100%;
    }
    .header .container {
        max-width: 720px;
        width: 100%;
        border: 2px solid red;
    }
    .section {
        max-width: 768px;
        width: 100%;
    }
    .section .container {
        max-width: 720px;
        width: 100%;
        border: 2px solid green;
    }
    .product {
        max-width: 768px;
        width: 100%;
    }
    .product .container {
        max-width: 720px;
        width: 100%;
        border: 2px solid darkblue;
    }
}

@media (max-width: 425px) {
    .header {
        max-width: 425px;
        width: 100%;
    }
    .header .container {
        max-width: 375px;
        width: 100%;
        border: 2px solid red;
    }
    .section {
        max-width: 425px;
        width: 100%;
    }
    .section .container {
        max-width: 375px;
        width: 100%;
        border: 2px solid green;
    }
    .product {
        max-width: 425px;
        width: 100%;
    }
    .product .container {
        max-width: 375px;
        width: 100%;
        border: 2px solid darkblue;
    }
}

@media (max-width: 375px) {
    .header {
        max-width: 375px;
        width: 100%;
    }
    .header .container {
        max-width: 320px;
        width: 100%;
        border: 2px solid red;
    }
    .section {
        max-width: 375px;
        width: 100%;
    }
    .section .container {
        max-width: 320px;
        width: 100%;
        border: 2px solid green;
    }
    .product {
        max-width: 375px;
        width: 100%;
    }
    .product .container {
        max-width: 320px;
        width: 100%;
        border: 2px solid darkblue;
    }
}

@media (max-width: 320px) {
    .header {
        max-width: 320px;
        width: 100%;
    }
    .header .container {
        max-width: 320px;
        width: 100%;
        border: 2px solid red;
    }
    .section {
        max-width: 320px;
        width: 100%;
    }
    .section .container {
        max-width: 320px;
        width: 100%;
        border: 2px solid green;
    }
    .product {
        max-width: 320px;
        width: 100%;
    }
    .product .container {
        max-width: 320px;
        width: 100%;
        border: 2px solid darkblue;
    }
}